.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  /* min-height: 500px; */
  border-radius: 10px;
  gap: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, .5);
  align-self: center;
}

h1 {
  text-align: center;
  color: #3b5045;
}
