input[type="file"] {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border: 6px dashed #e5f6ea;
}

.addDocumentBtn {
  display: flex;
  color: #6e6e6e;
  background-color: #1f2024;
  border: 0;
  flex-basis: 60px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s, color 0.1s;
}

input::file-selector-button {
  font-weight: bold;
  background-color: #e5f6ea;
  color: #3b5045;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

.btnWrapper {
  display: flex;
}

.textarea {
  resize: none;

  &:focus {
    outline: none !important;
    // border-color: #719ece;
    box-shadow: 0 0 20px #b1e2bf;
  }
}
